/*---INICIO ESTILOS FOOTER---*/
@mixin sizes($padding-left, $padding-top) {
  padding-left: $padding-left;
  padding-top: $padding-top;
}
footer {
  background: #313f5e;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.center__footer {
  justify-content: center;
  align-items: center;
}
.logo__footer {
  height: 60px;
}
.footer__rights {
  display: flex;
  justify-content: center;
}
.footer__text {
  @include sizes(150px, 25px);
}
.container-footer {
  border-radius: 5px;
  background-color: map-get($colores, secundario);
  padding: 20px;
}
/*---FIN ESTILOS FOOTER---*/
