/*---INICIO ESTILOS FOOTER---*/
footer {
  background: #313f5e;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.footer__rights {
  display: flex;
  justify-content: center;
}
.footer__text {
  padding-left: 150px;
  padding-top: 25px;
}
/*---FIN ESTILOS FOOTER---*/
